**/.zsh_history
**/.zcompdump
**/lazy-lock.json
**/.DS_Store
nvim/.config/nvim/live-server
lazygit/.config/lazygit/state.yml
zsh/.config/zsh/API_Keys.zsh
zsh/.config/zsh/API_KEYS.zsh
gtk/.config/gtk-3.0/bookmarks
Thunar/.config/Thunar/accels.scm
zsh/.config/zsh/api-keys.zsh
tmux/.config/tmux/plugins
.assets/gtk-theme/Arc-Dark
.assets/sddm-themes/sugar-candy
.assets/sddm-themes/10-theme.conf
btop/.config/btop/btop.log
eww/.config/eww/eww_covers/cover_art
eww/.config/eww/scripts/cache/dunst-history.json
fcitx5/.config/fcitx5/conf/cached_layouts
fcitx5/.config/fcitx5/conf/notifications.conf
