/** Global **/
* {
  all: unset;
  font-family: feather;
  font-family: "Iosevka";
}

/** Resources **/
.winbox {
  background-color: #1a1b26;
  border: 1px solid #161616;
  border-radius: 12px;
}
.res_box {
  background-color: #1a1b26;
  border: 1px solid #1a1b26;
  border-radius: 12px;
  padding: 14px 18px 14px 18px;
}

.res_circle {
  background-color: #3a404c;
  border: 0px solid #1c1d27;
  border-radius: 100%;
  padding: 0px;
}

.res_circle_small {
  background-color: #1c1d27;
  border: 0px solid #1c1d27;
  border-radius: 100%;
  padding: 40px;
  font-weight: bold;
}

.res_text {
  background-color: #474d59;
  border: 1px solid #474d59;
  border-radius: 16px;
  font-size: 14px;
  padding: 0px 8px 0px 8px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}

.res_cpu {
  color: #fd6b85;
}

.res_mem {
  color: #b1a6ee;
}

.res_disk {
  color: #67d4f1;
}
