/** Global *******************************************/
* {
  all: unset;
  font-family: feather;
  font-family: Iosevka;
}

/** Generic window ***********************************/
.genwin {
  background-color: #1a1b26;
  border-radius: 16px;
}

/** Weather ***************************************/
.iconweather {
  font-family: Iosevka Nerd Font;
  font-size: 120px;
  font-weight: normal;
  margin: 15px 0px 0px 30px;
}

.label_temp {
  color: #a6d1dd;
  font-size: 80px;
  font-weight: bold;
  margin: -15px 30px 0px 0px;
}

.label_stat {
  color: #bf616a;
  font-size: 38px;
  font-weight: bold;
}

.label_quote {
  color: #e5e5e5;
  font-size: 18px;
  font-weight: normal;
}
