* {
  all: unset;
  font-family: feather;
  font-family: Iosevka;
}

.bg {
  background-image: url("images/bg.png");
  background-color: #1a1b26;
  opacity: 1;
}

.genwin {
  background-color: #1a1b26;
  border-radius: 16px;
}

.album_art {
  background-size: 240px;
  min-height: 240px;
  min-width: 240px;
  margin: 20px;
  border-radius: 14px;
}

.song {
  color: #8fbcbb;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0px 0px 0px;
}

.artist {
  color: #ebcb8b;
  font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
}

.btn_prev,
.btn_play,
.btn_next {
  font-family: Iosevka Nerd Font;
}
.btn_prev {
  color: #ebcb8b;
  font-size: 32px;
  font-weight: normal;
}
.btn_play {
  color: #a3be8c;
  font-size: 48px;
  font-weight: bold;
}
.btn_next {
  color: #ebcb8b;
  font-size: 32px;
  font-weight: normal;
}

.music_bar scale trough highlight {
  all: unset;
  background-color: #b48ead;
  border-radius: 8px;
}
.music_bar scale trough {
  all: unset;
  background-color: #3a404c;
  border-radius: 8px;
  min-height: 20px;
  min-width: 310px;
  margin: 10px 0px 0px 0px;
}
